Company Research Agent.json
{
  "name": "Company Research Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Research the company: \" + $json.company }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the PRISM Company Research Agent.\n\nYour task is to analyze a company before a sales meeting.\n\nYou must identify:\n1. What the company does\n2. Main products and services\n3. Business model\n4. Target customers\n5. Competitive positioning\n6. Possible business pain points\n7. Growth opportunities\n8. Strategic talking points for a sales representative\n9. Suggested discovery questions\n\nRules:\n- Focus on business intelligence useful for enterprise sales conversations.\n- Keep outputs concise and structured.\n- Avoid generic descriptions.\n- Do not invent facts.\n- Return ONLY valid JSON matching the required schema.\n- Do not return markdown.\n- Do not use code blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -48
      ],
      "id": "3e9acabf-7463-4037-9562-6886a808edd6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -448,
        160
      ],
      "id": "e5afa568-1ddc-4204-b7c4-c0544a9fbcb4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vtl1PWQS2Fyz539g",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company\": \"\",\n  \"company_overview\": \"\",\n  \"products_services\": [],\n  \"business_model\": \"\",\n  \"target_customers\": [],\n  \"competitive_positioning\": [],\n  \"pain_points\": [],\n  \"growth_opportunities\": [],\n  \"talking_points\": [],\n  \"questions_to_ask\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -128,
        160
      ],
      "id": "7cd67222-0949-4205-b170-723ea2a4b913",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        -48
      ],
      "id": "e22713b3-55e2-4268-82f7-7da5c91f6735",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ca3755fc-1b88-42ae-80b6-d263dcc3d2f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "224fdf8041376944f42251b4b784fccf4fd8ad13f5a5802d21b36ef56245b093"
  },
  "id": "UyTTPlektuM8OAE4",
  "tags": []
}