Parent_Orchestrator_Agent_From_DB.json
{
  "name": "Parent Orchestrator Agent",
  "nodes": [
    {
      "parameters": {
        "tableId": "meeting_briefs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company",
              "fieldValue": "={{ $('Edit Fields').item.json.company }}"
            },
            {
              "fieldId": "person_name",
              "fieldValue": "={{ $('Edit Fields').item.json.person_name }}"
            },
            {
              "fieldId": "role_title",
              "fieldValue": "={{ $('Edit Fields').item.json.role_title }}"
            },
            {
              "fieldId": "meeting_type",
              "fieldValue": "={{ $('Edit Fields').item.json.meeting_type }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $('Edit Fields').item.json.priority }}"
            },
            {
              "fieldId": "brief_title",
              "fieldValue": "={{ $json.output.brief_title }}"
            },
            {
              "fieldId": "executive_summary",
              "fieldValue": "={{ $json.output.executive_summary }}"
            },
            {
              "fieldId": "why_this_meeting_matters",
              "fieldValue": "={{ $json.output.why_this_meeting_matters }}"
            },
            {
              "fieldId": "company_context",
              "fieldValue": "={{ $json.output.company_context }}"
            },
            {
              "fieldId": "recent_news_that_matters",
              "fieldValue": "={{ $json.output.recent_news_that_matters }}"
            },
            {
              "fieldId": "sales_triggers",
              "fieldValue": "={{ $json.output.sales_triggers }}"
            },
            {
              "fieldId": "possible_pain_points",
              "fieldValue": "={{ $json.output.possible_pain_points }}"
            },
            {
              "fieldId": "risks_or_red_flags",
              "fieldValue": "={{ $json.output.risks_or_red_flags }}"
            },
            {
              "fieldId": "talking_points",
              "fieldValue": "={{ $json.output.talking_points }}"
            },
            {
              "fieldId": "discovery_questions",
              "fieldValue": "={{ $json.output.discovery_questions }}"
            },
            {
              "fieldId": "recommended_meeting_strategy",
              "fieldValue": "={{ $json.output.recommended_meeting_strategy }}"
            },
            {
              "fieldId": "rep_focus",
              "fieldValue": "={{ $json.output.rep_focus }}"
            },
            {
              "fieldId": "verified_signals",
              "fieldValue": "={{ $json.output.verified_signals }}"
            },
            {
              "fieldId": "inferred_recommendations",
              "fieldValue": "={{ $json.output.inferred_recommendations }}"
            },
            {
              "fieldId": "full_brief",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "meeting_goal",
              "fieldValue": "={{ $('Edit Fields').item.json.meeting_goal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        -560
      ],
      "id": "a80764a3-8d50-43d8-bbdd-22a6ecc96272",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "DzsFJqrXcQJ3grbl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5be5152-0405-449b-8b33-76d372054cb2",
              "name": "company",
              "value": "={{ $('Edit Fields').item.json.company }}",
              "type": "string"
            },
            {
              "id": "e3b0fe59-6b94-44c8-8062-1edbb1d4b8b5",
              "name": "person_name",
              "value": "={{ $('Edit Fields').item.json.person_name }}",
              "type": "string"
            },
            {
              "id": "89795ff0-f6a6-4526-97df-48d5af1a49a5",
              "name": "role_title",
              "value": "={{ $('Edit Fields').item.json.role_title }}",
              "type": "string"
            },
            {
              "id": "6021eb28-bbfb-456d-a4a4-127940cecd19",
              "name": "meeting_type",
              "value": "={{ $('Edit Fields').item.json.meeting_type }}",
              "type": "string"
            },
            {
              "id": "bd48d6d0-4f6d-4b3c-9064-2c57ec919f5d",
              "name": "meeting_goal",
              "value": "={{ $('Edit Fields').item.json.meeting_goal }}",
              "type": "string"
            },
            {
              "id": "c9cdd035-acc7-4367-8bea-5dfd1fd5e2e6",
              "name": "attendee_name",
              "value": "={{ $('Edit Fields').item.json.attendee_name}}",
              "type": "string"
            },
            {
              "id": "fd373513-8788-4dfe-9a94-bc84f246b206",
              "name": "priority",
              "value": "={{ $('Edit Fields').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "ad06fddb-fba3-449c-b148-e2cc3c8eca43",
              "name": "company_research",
              "value": "={{ $(\"Call 'Company Research Agent'\").item.json.output }}",
              "type": "object"
            },
            {
              "id": "cba52a86-58a8-48d6-86d1-35bec93d1bc2",
              "name": "news_intelligence",
              "value": "={{ $(\"Call 'NEWS Intelligence Agent'\").item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -560
      ],
      "id": "a72b6d58-0d91-4049-a5c3-13f163f43a4d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        -560
      ],
      "id": "adb1962a-d305-487c-bb2b-30eef9a62595",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5be5152-0405-449b-8b33-76d372054cb2",
              "name": "company",
              "value": "={{ $('Edit Fields').item.json.company }}",
              "type": "string"
            },
            {
              "id": "e3b0fe59-6b94-44c8-8062-1edbb1d4b8b5",
              "name": "person_name",
              "value": "={{ $('Edit Fields').item.json.person_name }}",
              "type": "string"
            },
            {
              "id": "89795ff0-f6a6-4526-97df-48d5af1a49a5",
              "name": "role_title",
              "value": "={{ $('Edit Fields').item.json.role_title }}",
              "type": "string"
            },
            {
              "id": "6021eb28-bbfb-456d-a4a4-127940cecd19",
              "name": "meeting_type",
              "value": "={{ $('Edit Fields').item.json.meeting_type }}",
              "type": "string"
            },
            {
              "id": "bd48d6d0-4f6d-4b3c-9064-2c57ec919f5d",
              "name": "meeting_goal",
              "value": "={{ $('Edit Fields').item.json.meeting_goal }}",
              "type": "string"
            },
            {
              "id": "c9cdd035-acc7-4367-8bea-5dfd1fd5e2e6",
              "name": "attendee_name",
              "value": "={{ $('Edit Fields').item.json.attendee_name}}",
              "type": "string"
            },
            {
              "id": "fd373513-8788-4dfe-9a94-bc84f246b206",
              "name": "priority",
              "value": "={{ $('Edit Fields').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "ad06fddb-fba3-449c-b148-e2cc3c8eca43",
              "name": "company_research",
              "value": "={{ $(\"Call 'Company Research Agent'\").item.json.output }}",
              "type": "object"
            },
            {
              "id": "cba52a86-58a8-48d6-86d1-35bec93d1bc2",
              "name": "news_intelligence",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -560
      ],
      "id": "251d6d58-49f9-4585-8849-a21240b871d3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ioTd3WM0Ev3Vcb27",
          "mode": "list",
          "cachedResultUrl": "/workflow/ioTd3WM0Ev3Vcb27",
          "cachedResultName": "Stakeholder Brief Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -128,
        -560
      ],
      "id": "9fdb58af-1d95-4633-90ba-784a55520dfd",
      "name": "Call 'Stakeholder Brief Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DQUo9PkDTxDueIsx",
          "mode": "list",
          "cachedResultUrl": "/workflow/DQUo9PkDTxDueIsx",
          "cachedResultName": "Brief Generator Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        -560
      ],
      "id": "2156a871-a701-4add-b2e9-b629be1334e4",
      "name": "Call 'Brief Generator Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sLLnLwnWHUBtsR6T",
          "mode": "list",
          "cachedResultUrl": "/workflow/sLLnLwnWHUBtsR6T",
          "cachedResultName": "NEWS Intelligence Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -800,
        -464
      ],
      "id": "b59b2d52-ac6e-4a3c-8729-5e0c71c2afe7",
      "name": "Call 'NEWS Intelligence Agent'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd0b371c-556a-4295-a71e-353f53a77a81",
              "name": "company",
              "value": "={{ $json.body?.companyName || $json.companyName }}",
              "type": "string"
            },
            {
              "id": "d4b85227-2a7b-43ae-891f-ae479fab61d5",
              "name": "person_name",
              "value": "={{ $json.body?.personName || $json.personName }}",
              "type": "string"
            },
            {
              "id": "bb0900b7-b45b-4132-9605-3df1d93ce040",
              "name": "role_title",
              "value": "={{ $json.body?.personTitle || $json.personTitle }}",
              "type": "string"
            },
            {
              "id": "a4b530ef-856b-4c3d-a2c5-49e5ec46ca74",
              "name": "meeting_type",
              "value": "={{ $json.body?.meetingType || $json.meetingType }}",
              "type": "string"
            },
            {
              "id": "058e8aac-ac76-4c66-9fbe-061591ee7dc8",
              "name": "meeting_goal",
              "value": "={{ $json.body?.meetingGoal || $json.meetingGoal }}",
              "type": "string"
            },
            {
              "id": "5c4f1d60-d93e-4c45-9de5-d7d75a2a2526",
              "name": "priority",
              "value": "={{ $json.body?.priority || $json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        -560
      ],
      "id": "ef545274-7566-454f-b078-83d89ba057dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UyTTPlektuM8OAE4",
          "mode": "list",
          "cachedResultUrl": "/workflow/UyTTPlektuM8OAE4",
          "cachedResultName": "Company Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -800,
        -656
      ],
      "id": "24fb4cfe-415b-4b78-86a1-88aa1629f981",
      "name": "Call 'Company Research Agent'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prism-brief",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -560
      ],
      "id": "d6c21e5f-a7b7-4f9c-ba80-f25aec7ea2f7",
      "name": "Webhook",
      "webhookId": "37ef89f6-2a76-4c80-b6ec-cb3139007674"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  success: true,\n  data: $json\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        -560
      ],
      "id": "d7b64c0b-5683-42c7-b9b8-a297f373c7f8",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'Stakeholder Brief Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Call 'Brief Generator Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Stakeholder Brief Agent'": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Brief Generator Agent'": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'NEWS Intelligence Agent'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'NEWS Intelligence Agent'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Company Research Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Company Research Agent'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "MDJmNwCRbwcLvNjd"
}